## Part 1: Creating, Reading and Writing

In [1]:
import pandas as pd

**Creation of dataframes**

In [4]:
pd.DataFrame({"Yes": [50,21],"No":[131, 2]})

   Yes   No
0   50  131
1   21    2

In [5]:
pd.DataFrame({"Bob" : ['I liked it','It was aweful'], "Sue" : ['Pretty good', 'Bland'] })

             Bob          Sue
0     I liked it  Pretty good
1  It was aweful        Bland

In [9]:
pd.DataFrame({"Bob" : ['I liked it','It was aweful'], "Sue" : ['Pretty good', 'Bland']} , index=["Product A","Product B"])

                     Bob          Sue
Product A     I liked it  Pretty good
Product B  It was aweful        Bland

**Series**

In [13]:
pd.Series([1,2,3,4,5,6], index=['A','B','C','D','E','F'])#Series plus index

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

In [15]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')#plus name

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

**Reading data files**

In [ ]:
#wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")
#wine_reviews.head()

**Exercise: Creating, Reading and Writing**

**Libraries**

In [17]:
import pandas as pd
pd.set_option('max_rows', 5)
from learntools.core import binder; binder.bind(globals())
from learntools.pandas.creating_reading_and_writing import *
print("Setup complete.")

ModuleNotFoundError: No module named 'learntools'

Exercise 1:

In [19]:
fruits = pd.DataFrame({'Apples':[30],'Bananas':[21]})
fruits

   Apples  Bananas
0      30       21

In [21]:
fruits = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])# Alternative solution
fruits

   Apples  Bananas
0      30       21

Exercise 2:

In [23]:
fruit_sales = pd.DataFrame([[35,21],[41,34]],columns=['Apples', 'Bananas'], index=('2017 Sales','2018 Sales'))
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

Exercise 3:

In [27]:
i=['Flour','Milk', 'Eggs', 'Spam']
q=['4 cups','1 cup', '2 large', '1 can']
ingredients=pd.Series(q, index=i,name="Dinner")
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

## Part 1: Creating, Reading and Writing