## Part 1: Creating, Reading and Writing

In [1]:
import pandas as pd

**Creation of dataframes**

In [4]:
pd.DataFrame({"Yes": [50,21],"No":[131, 2]})

   Yes   No
0   50  131
1   21    2

In [5]:
pd.DataFrame({"Bob" : ['I liked it','It was aweful'], "Sue" : ['Pretty good', 'Bland'] })

             Bob          Sue
0     I liked it  Pretty good
1  It was aweful        Bland

In [9]:
pd.DataFrame({"Bob" : ['I liked it','It was aweful'], "Sue" : ['Pretty good', 'Bland']} , index=["Product A","Product B"])

                     Bob          Sue
Product A     I liked it  Pretty good
Product B  It was aweful        Bland

**Series**

In [13]:
pd.Series([1,2,3,4,5,6], index=['A','B','C','D','E','F'])#Series plus index

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

In [15]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')#plus name

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

**Reading data files**